
<div class="recipe">
  <div class="recipe__primary">
    {{ content.primary}}
  </div>
  <div class="recipe__secondary recipe__secondary--first">
    {{ content.secondaryfirst}}
  </div>
  <div class="recipe__secondary recipe__secondary--second">
    {{ content.secondarysecond}}
  </div>

</div>