* {
    box-sizing: border-box;
}

img,
video {
    width: 100%;
    /* just in case, to force correct aspect ratio */
    height: auto !important;
}

.logo {
    max-width: 200px;
}

.adsfirst {
    background: yellow;
    padding: 20px;
}

.adssecond {
    background: red;
    padding: 20px;
}