.recipelist {
    display: grid;
    grid-gap: 15px;
    align-items: end;
}

@media (min-width:500px) {
    .recipelist {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media (min-width:1000px) {
    .recipelist {
        grid-template-columns: [sitestart] 1fr [contentfirst] 1fr [contentsecond] 1fr [contentend] 1fr [siteend];
        grid-gap: 30px;
    }
    .views-row:nth-of-type(1) {
        grid-column: sitestart / contentsecond;
        grid-row: span 2;
    }
}

@media (min-width:1100px) {
    .views-row:nth-of-type(1) {
        grid-column: contentsecond / siteend;
    }
}