.recipelist {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width:500px) {
    .recipelist {
        grid-gap: 20px;
    }
}

@media (min-width:1000px) {
    .recipelist {
        grid-gap: 30px;
    }
    .views-row:nth-of-type(1) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (min-width:1100px) {
    .views-row:nth-of-type(1) {
        grid-column: span 2 / -1;
    }
}