.layout-container {
    display: grid;
    grid-template-areas: "header" "main" "adsfirst" "adssecond" "footer";
    /* BAD IDEA
    grid-template-areas: "header" "adsfirst" "main" "adssecond" "footer";
    */
    grid-gap: 20px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.adsfirst {
    grid-area: adsfirst;
}

.adssecond {
    grid-area: adssecond;
}

.footer {
    grid-area: footer;
}

@media (min-width:65em) {
    .layout-container {
        grid-template-columns: 5fr 2fr;
        grid-template-areas: "header header" "main adsfirst" "main adssecond" "footer footer";
    }
}