.recipelist {
    display: grid;
    grid-gap: 15px;
}

@media (min-width:500px) {
    .recipelist {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media (min-width:1000px) {
    .recipelist {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}

@media (min-width:1200px) {
    .recipelist {
        grid-template-columns: 2fr 1fr 1fr 1fr;
    }
}