.recipe {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "primary" "secondaryfirst" "secondarysecond";
}

.recipe__primary {
    grid-area: primary;
}

.recipe__secondary--first {
    grid-area: secondaryfirst;
}

.recipe__secondary--second {
    grid-area: secondarysecond;
}

@media (min-width:45em) {
    .recipe {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "primary secondaryfirst" "secondarysecond secondarysecond";
    }
}


/* or, even simpler:

.recipe {
    display: grid;
    grid-gap: 15px;
}

@media (min-width:45em) {
    .recipe {
        grid-template-columns: repeat(2, 1fr);
    }
    .recipe__secondary--second {
        grid-column: span 2;
    }
}

*/