.views-exposed-form {
    display: flex;
}

.views-exposed-form .form-item {
    flex: 1;
    padding: 20px;
}

.views-exposed-form label {
    display: block;
}

.views-exposed-form .form-select {
    width: 100%;
}