#block-layoutexercises-branding {
    text-align: center;
}

#block-layoutexercises-branding a {
    display: block;
}

.header {
    display: grid;
}

@media (min-width: 25em) {
    .header {
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        align-items: center;
    }
}

.mainnavigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: stretch;
}

.navitem {
    padding: 10px;
    text-align: center;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.navitem a {
    background: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: all .2s;
    text-decoration: none;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}

.navitem a span {
    display: block;
    width: 100%;
}

.navitem a:hover {
    background: #333;
}

@media (min-width: 25em) {
    .mainnavigation {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
    }
    .navitem {
        flex: 0 1 50%;
    }
}

@media (min-width:60em) {
    .mainnavigation {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .navitem {
        flex: 0 1 auto;
        padding: 0 20px;
    }
}