.mainnavigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: baseline;
}

.navitem {
    flex: 0 1 auto;
    padding: 0 10px;
}